{% extends "frontend/base.html" %}
{% load static %}
{% block content %}
    <div class="card text-center text-bg-dark   ">
        <div class="card-header">
            Featured
        </div>
        <div class="card-body my-border-top">
            <img src="{% static 'frontend/images/logo.png' %}" class="card-img-top post_image" alt="Image">
{#            <img src="https://f.vividscreen.info/soft/c91aed22fc955513269e068a5771c21d/Tigers-Cub-1080x1920.jpg" class="card-img-top post_image" alt="Image">#}
            <hr>
            <p class="card-text">With #supporting text below as a natural lead-in to additional content.</p>
        </div>
        <div class="card-footer text-body-secondary my-border-top">
            <a href="#" class="btn btn-primary">Смотреть пост</a>
        </div>
    </div>
{% endblock %}